<div [hidden]="fabricjsService.componentRole === 'edit'" class="adding-message medium-font-size px-1">
  <div class="row h-100">
    <div class="col align-self-center text-center">
      Drag and drop figure on slide to add it
    </div>
  </div>
</div>
<form novalidate [formGroup]="titleForm" class="title-form px-2">
  <div [hidden]="fabricjsService.componentRole === 'edit'" class="figure-container py-1">
    <div class="row py-1 justify-content-around figure-spawner-row mx-auto">
      <div class="col-6 px-0" #figureSpawner ngDraggable (edge)="checkEdge($event)" [trackPosition]="false" [zIndexMoving]="100"
        [zIndex]="100" (stopped)="onStop($event, 'triangle')" [bounds]="bounds" [inBounds]="false">
        <div class="row h-100 mx-auto justify-content-center">
          <div class="col-auto px-0 align-self-center">
            <img [style.width.px]="figureSize" [style.height.px]="figureSize" draggable="false" src="././././assets/img/triangle.svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row py-1 justify-content-around figure-spawner-row mx-auto">
      <div class="col-6 px-0" ngDraggable (edge)="checkEdge($event)" [trackPosition]="false" [zIndexMoving]="100" [zIndex]="100"
        (stopped)="onStop($event, 'circle')" [bounds]="bounds" [inBounds]="false">
        <div class="row h-100 mx-auto justify-content-center">
          <div class="col-auto px-0 align-self-center">
            <div class="circle-spawner" [style.width.px]="figureSize" [style.height.px]="figureSize"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-1 justify-content-around figure-spawner-row mx-auto">
      <div class="col-6 px-0" ngDraggable (edge)="checkEdge($event)" [trackPosition]="false" [zIndexMoving]="100" [zIndex]="100"
        (stopped)="onStop($event, 'rect')" [bounds]="bounds" [inBounds]="false">
        <div class="row h-100 mx-auto justify-content-center">
          <div class="col-auto px-0 align-self-center">
            <div class="rect-spawner" [style.width.px]="figureSize" [style.height.px]="figureSize"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="title-block py-1" [ngClass]="{'title-block-edit': fabricjsService.componentRole === 'edit'}">
    <div class="row title-row align-items-center">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text p-1">Title</span>
          </div>
          <input type="text" [(ngModel)]="figureService.activeFigure.title" (keyup)="changeFigureTitle()" formControlName="title" placeholder="Title"
            class="form-control py-0" />
        </div>
      </div>
    </div>
    <div [ngStyle]="{'visibility': titleForm.invalid && titleForm.dirty && fabricjsService.componentRole === 'edit' ? 'visible' : 'hidden' }"
      class="row title-feedback-row">
      <div class="col">
        <div class="form-control-feedback w-100 text-center">
          Enter the title
        </div>
      </div>
    </div>
  </div>
  <div class="set-color-block py-1" [ngClass]="{'set-color-block-edit': fabricjsService.componentRole === 'edit'}">
    <div class="row align-items-center h-100 py-1">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Color</span>
          </div>
          <input class="form-control" id="colorpicker" (colorPickerChange)="figureService.changeFill(fabricjsService.canvas)" [(colorPicker)]="figureService.activeFigure.fill"
            [style.background]="figureService.activeFigure.fill" />
        </div>
      </div>
    </div>
  </div>
  <div class="zindex-buttons-block py-1" [ngClass]="{'zindex-buttons-block-edit': fabricjsService.componentRole === 'edit'}">
    <div class="row align-items-center h-100">
      <div class="col-6 pr-2">
        <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.sendBackward()" class="btn btn-info p-1 w-100 small-font-size">Send backward</button>
      </div>
      <div class="col-6 pl-2">
        <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.bringForward()" class="btn btn-info p-1 w-100 small-font-size">Bring forward</button>
      </div>
    </div>
  </div>
  <div class="sliders-block pt-3 pb-1" [ngClass]="{'sliders-block-edit': fabricjsService.componentRole === 'edit'}">
    <div class="row mx-auto justify-content-around slider-label-row small-font-size">
      <div class="col-3 px-1">
        <p class="text-center">Rotation</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Width</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Height</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Opacity</p>
      </div>
    </div>
    <div class="row mx-auto justify-content-around slider-row">
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="360" #rot (input)="figureService.changeRotation(rot.value, fabricjsService.canvas)"
          [(ngModel)]="figureService.activeFigure.angle" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #w (input)="figureService.changeWidth(w.value, fabricjsService.canvas)"
          [ngModel]="figureService.activeFigure.scaleX" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #h (input)="figureService.changeHeight(h.value, fabricjsService.canvas)"
          [ngModel]="figureService.activeFigure.scaleY" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="1" step="0.01" #o (input)="figureService.changeOpacity(o.value, fabricjsService.canvas)"
          [ngModel]="figureService.activeFigure.opacity" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
    </div>
    <div class="row mx-auto justify-content-around slider-input-row">
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="figureService.changeRotation(-1, fabricjsService.canvas)" min="0" max="360" class="form-control property-input p-0"
            [(ngModel)]="figureService.activeFigure.angle" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="figureService.changeWidth(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="figureService.activeFigure.scaleX" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="figureService.changeHeight(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="figureService.activeFigure.scaleY" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="figureService.changeOpacity(-1, fabricjsService.canvas)" min="0" max="1" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="figureService.activeFigure.opacity" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
    </div>
  </div>
  <div class="submit-btn-block pb-1" [ngClass]="{'submit-btn-block-edit': fabricjsService.componentRole === 'edit'}">
    <div class="row justify-content-around align-items-center h-100">
      <div class="col-6">
        <button *ngIf="fabricjsService.componentRole === 'edit'" type="button" (click)="saveFigure()" [disabled]="titleForm.invalid"
          class="btn btn-primary p-1 medium-font-size w-100">Save</button>
        <button *ngIf="fabricjsService.componentRole === 'add'" type="button" (click)="saveFigure()" class="btn btn-primary p-1 medium-font-size w-100">Save</button>
      </div>
    </div>
  </div>
</form>