$border-color: #72b1bb;
$active-background-color: rgb(145, 217, 226);
$small: 0.8rem;

.figure-container {
    height: 46%;
}

.circle-spawner {
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
}

.rect-spawner {
    width: 100px; 
    height: 100px; 
    background-color: blue;
}

[ngDraggable] {
    cursor: move;
}

.change-figure-properties {
    font-size: 1.5vh;
    height: calc(82.5vh - 330px);
}

.figures-change-color {
    height: 15%;
}

.input-group {
    font-size: 1.5vh !important;
    .input-group-text {
        font-size: 1.5vh;
    }
}

#colorpicker {
    cursor: crosshair;
    padding:  0;
    min-width: 25px;
}

.slider-properties {
    height: 70%;
}

.slider-label {
    height: 10%;
}

.slider-input {
    height: 10%;
}

.slider-block {
    height: 80%;
}

.mat-slider-vertical {
    height: 100%;
}

.figure-property-input {
    padding: 0px;
    min-width: 47px;
}

.submit-btn-block {
    height: 8%;
}

.submit-btn-block-edit {
    height: 15%;
}

.figure-spawner-row {
    height: calc(100% / 3);
}

.set-color-block, .zindex-buttons-block {
    height: 6%;
}

.set-color-block-edit, .zindex-buttons-block-edit {
    height: 12%;
}

.sliders-block {
    height: 27%;
}

.sliders-block-edit {
    height: 47%;
}

.slider-label-row, .slider-input-row {
    height: 10%;
}

.slider-row {
    height: 80%;
}

.property-input {
    width: 100%;
    min-width: 40px;
    font-size: $small !important;
}

.mat-slider-vertical {
    height: 100%;
    display: block;
    min-height: unset;
}

.title-block {
    height: 7%;
}

.title-block-edit {
    height: 14%;
}

.title-row {
    height: 80%;
}

.title-feedback-row {
    height: 20%;
}

.form-control-feedback {
    color: red;
    font-size: $small;
}

.form-control {
    font-size: $small !important;
}

.adding-message {
    height: 8%;
    background-color: $active-background-color;
}

.title-form {
    height: 92%;
}