$border-color: #72b1bb;
$background-color: rgb(200, 237, 241);
$active-background-color: rgb(145, 217, 226);

.row-title {
    margin-bottom: 0px;
    background-color: $background-color;
    border-bottom: 4px solid $border-color !important;
    height: 12.5vh;
}

.left-column {
    padding-right: 0px;
    background-color: $background-color;
    border-right: 4px solid $border-color !important;
    height: 87.5vh;
}

.slide-column {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-bottom: 4px solid $border-color !important;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.slide-row {
    width: 100%;
    margin: 0px !important;
    height: 75.5vh;
}

.confirm-row {
    height: 12vh;
}

.new-slide-row {
    height: 100%;
}

.slide-title-row {
    height: 20%;
    width: 100%;
}

.footer-row {
    border-top: 4px solid $border-color;
    background-color: $background-color;
    height: 12.5vh;
}

.new-slide-item {
    background-color: #79d9e7;
    height: 80px;
}

.form-control-feedback {
    margin-top: 5px;
    color: red;
    position: absolute;
}

.btn-link {
    text-decoration: none !important;
}
.btn-link:hover {
    color: red;
}

.slide-item:hover {
    cursor: pointer;
}

.slide-content-row {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.active-item {
    background-color: $active-background-color;
}

.dialog-button {
    width: 100%;
}

.exit-btn {
    margin-left: 3vw;
}

.edit-btn {
    padding-top: 0px;
    padding-bottom: 0px;
}

.figure {
    height: 0px;
    width: 0px;
}

.properties-sidebar {
    border-right: 4px solid $border-color;
    background-color: $background-color;
    height: 87.5vh;
}

.slide {
    height: 100%;
}

.figure-creator:hover {
    cursor: pointer;
}

.resize-handle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
}

.canvas-container {
    width: 100% !important;
    margin: 0 !important;
}

.hide {
    display: none;
}

[mat-button] {
    border-radius: 0% !important;
}

::ng-deep.mat-menu-content {
    padding: 0 !important;
    background-color: #72b1bb;
}

::ng-deep.mat-menu-panel {
    max-width: unset !important;
}

[mat-menu-item] {
    background-color: lightblue;
    width: 25vw;
    text-align: center;
    padding: 0;
}

button {
    box-shadow: unset !important;
}

.editing-type-btn-row {
    height: 5%;
}

.dropdown-item:hover {
    background-color: unset;
}

.dropdown-toggle::after {
    display: none
}

.buttons-block {
    height: 20%;
}

.button-row {
    height: calc(100% / 3);
} 

.add-element-menu-item {
    cursor: pointer;
    //border: solid 2px $border-color;
    background-color: $background-color;
    height: calc(100% / 3);
}

.add-element-menu-item:hover {
    background-color: $active-background-color;
}

#dropdown-dropup {
    border-width: 3px 3px 0;
    border-style: solid;
    border-color: $border-color;
    height: 18vh;
}

#central-menu-item {
    border-width: 2px 0;
    border-style: solid;
    border-color: $border-color;
}