<form novalidate [formGroup]="addPresentationForm">
  <div class="form-group row row-title justify-content-around align-items-center">
    <div class="col-4">
      <button type="button" (click)="openModalCancel(templateCancelPresentation)" [disabled]="performingEdit" class="btn btn-outline-info exit-btn">
        < To all presentations</button>
    </div>
    <div class="col-8">
      <div class="row justify-content-start">
        <label for="presTitle" class="col-4 col-form-label">Presentation title</label>
        <div class="col-5">
          <input *ngIf="presentation" type="text" [(ngModel)]="presentation.title" formControlName="presentationTitle" class="form-control"
            id="presTitle" placeholder="Presentation Title">
          <div class="form-control-feedback" *ngIf="(submitPresentationTry && addPresentationForm.invalid)">
            Enter the title of presentation
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div *ngIf="!editingSlide" class="col-3 left-column px-0" [style.width]="fabricjsService.windowWidth * 0.25+'px'">
      <div class="row slide-row">
        <div class="col slide-column">
          <ul class="list-group">
            <li *ngIf="addingNewSlide" class="list-group-item list-group-item-info new-slide-item">
              <div class="row new-slide-row align-items-center justify-content-center">
                <div class="col-4">
                  <b>Slide Title:</b>
                </div>
                <div class="col-8">{{activeSlide.title}}</div>
              </div>
            </li>
            <div *ngIf="presentation">
              <ng-container>
                <li *ngFor="let slide of presentation.slides; let i = index;" (click)="showCurrentSlide(i, true)" class="list-group-item list-group-item-info slide-item"
                  [ngClass]="{'active-item': slide.isActive}">
                  <div class="row justify-content-end">
                    <button type="button" (click)="deleteSlide(i)" class="btn btn-link">&times;</button>
                  </div>
                  <div class="row new-slide-row align-items-center justify-content-around">
                    <div class="col-5">
                      <a>{{i + 1}}. {{slide.title}}</a>
                    </div>
                    <div class="col-5">
                      <button type="button" (click)="editSlide(i)" class="btn btn-warning edit-btn float-right">Edit</button>
                    </div>
                  </div>
                </li>
              </ng-container>
            </div>
          </ul>
        </div>
      </div>
      <div class="row align-items-center confirm-row justify-content-center">
        <div class="col-auto">
          <button type="button" [disabled]="addingNewSlide" (click)="addSlide()" class="btn btn-info add-button">
            Add new slide
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="editingSlide" class="col-3 properties-sidebar p-0">
      <app-figures *ngIf="fabricjsService.typeOfEditing.figures" [bounds]="bounds"></app-figures>
      <app-text *ngIf="fabricjsService.typeOfEditing.text"></app-text>
      <app-animation *ngIf="fabricjsService.typeOfEditing.animation"></app-animation>
      <app-images *ngIf="fabricjsService.typeOfEditing.images"></app-images>
      <app-other *ngIf="fabricjsService.typeOfEditing.other"></app-other>
      <app-elements-list *ngIf="fabricjsService.typeOfEditing.list"></app-elements-list>
      <div *ngIf="fabricjsService.typeOfEditing.list" class="buttons-block py-1">
        <div class="row justify-content-center button-row py-2">
          <div class="col-10 align-self-center">
            <div class="btn-group w-100" dropdown [dropup]="true">
              <button id="button-dropup" dropdownToggle type="button" class="btn btn-success dropdown-toggle w-100 p-1" aria-controls="dropdown-dropup">
                Add element
              </button>
              <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu dropdown-menu-center w-100 mb-0 p-0" role="menu" aria-labelledby="button-dropup">
                <li role="menuitem" class="row add-element-menu-item m-0" (click)="initElementAdding('text')">
                  <a class="col align-self-center dropdown-item text-center p-0">Text</a>
                </li>
                <li role="menuitem" id="central-menu-item" class="row add-element-menu-item m-0" (click)="initElementAdding('figures')">
                  <a class="col align-self-center dropdown-item text-center p-0">Figure</a>
                </li>
                <li role="menuitem" class="row add-element-menu-item m-0" (click)="initElementAdding('images')">
                  <a class="col align-self-center dropdown-item text-center p-0">Image</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row justify-content-center button-row py-2">
          <div class="col-10 align-self-center">
            <button type="button" class="btn btn-primary w-100 p-1" (click)="initAnimationMode()">Animation mode</button>
          </div>
        </div>
        <div class="row justify-content-center button-row py-2">
          <div class="col-10 align-self-center">
            <button type="button" class="btn btn-info w-100 p-1" (click)="initSlidePropertiesMode()">Slide properties</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <form novalidate [formGroup]="addSlideForm" (ngSubmit)="saveSlide()">
        <div class="row" [style.height]="fabricjsService.windowHeight * 0.75+'px'" [style.width]="fabricjsService.windowWidth * 0.75+'px'">
          <div class="row slide-content-row">
            <div class="col">
              <div class="row slide">
                <canvas #bounds id="canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="editingSlide || addingNewSlide" class="row footer-row align-items-center">
          <div class="col-7">
            <div class="form-group m-0">
              <div class="row">
                <div class="col-5">
                  <label *ngIf="editingSlide" for="slideTitle" class="col-form-label">Edit slide title:</label>
                  <label *ngIf="addingNewSlide" for="slideTitle" class="col-form-label">Enter slide title:</label>
                </div>
                <div class="col-7">
                  <input *ngIf="editingSlide" type="text" [(ngModel)]="fabricjsService.editedSlide.title" formControlName="slideTitle" class="form-control"
                    id="slideTitle" placeholder="Slide Title">
                  <input *ngIf="addingNewSlide" type="text" [(ngModel)]="activeSlide.title" formControlName="slideTitle" class="form-control"
                    id="slideTitle" placeholder="Slide Title">
                  <div class="form-control-feedback" *ngIf="(submitSlideTry && addSlideForm.invalid)">
                    Enter the title of slide
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <button type="button" [disabled]="animationService.playingAnimation || animationService.isChangedAnimation || animationService.isAddingAnimation"
              (click)="cancel()" class="btn btn-outline-info float-right ml-4">
              &lt; Cancel </button>
            <button type="submit" (click)="submitSlideTry=true" [disabled]="editingSlide && !fabricjsService.typeOfEditing.list" class="btn btn-info float-right">Save slide</button>
          </div>
        </div>
        <div *ngIf="showingSlideContent" class="row footer-row align-items-center justify-content-center">
          <div class="col-6">
            <button type="submit" [disabled]="addingNewSlide" (click)="openModalSave(templateSave)" class="btn btn-primary w-100">
              <b>Save presentation</b>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-template #templateSave>
    <div class="modal-header">
      <button type="button" class="close float-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center">Save this presentation?</div>
      <br>
      <br>
      <div class="row justify-content-around">
        <div class="col-4">
          <button type="button" class="btn btn-danger dialog-button" (click)="confirmSave()">Yes</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-warning dialog-button" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #templateCancelSlide>
    <div class="modal-header">
      <button type="button" class="close float-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center large-font-size">
        Cancel editing slide?
      </div>
      <br>
      <div class="row justify-content-center small-font-size">Changes will not be saved</div>
      <br>
      <br>
      <div class="row justify-content-around">
        <div class="col-4">
          <button type="button" class="btn btn-danger dialog-button" (click)="confirmCancelSlide()">Yes</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-warning dialog-button" aria-label="Close" (click)="modalRef.hide()">No</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #templateCancelPresentation>
    <div class="modal-header">
      <button type="button" class="close float-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center large-font-size">
        Cancel editing presentation?
      </div>
      <br>
      <div class="row justify-content-center small-font-size">Changes will not be saved</div>
      <br>
      <br>
      <div class="row justify-content-around">
        <div class="col-4">
          <button type="button" class="btn btn-danger dialog-button" (click)="confirmCancelPresentation()">Yes</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-warning dialog-button" aria-label="Close" (click)="modalRef.hide()">No</button>
        </div>
      </div>
    </div>
  </ng-template>
</form>