$border-color: #72b1bb;
$background-color: rgb(200, 237, 241);
$active-background-color: rgb(145, 217, 226);
$small: 0.7rem;

.left-column {
    padding-right: 0px;
    background-color: $background-color;
    height: 85%;
}

.images-list {
    height: 85%;
    border-bottom: 4px solid $border-color;
    overflow-y: auto;
    overflow-x: hidden;
}

.active-figure-list-item {
    background-color: #79d9e7;
}

.image-item-row {
    height: 100%;
}

.image-item:hover {
    cursor: pointer;
}

.confirm-row-add {
    height: 15%;
}

.confirm-row-edit {
    height: 10%;
}

.list-group-item {
    border-radius: 0% !important;
}

#property-select, #easing-value, #start-time {
    height: unset !important;
}

.choose-property-block {
    height: 16%;
    border-bottom: 4px solid $border-color; 
}

.set-value-block, .general-properties {
    height: 28%;
    border-bottom: 4px solid $border-color;
}

.buttons-block {
    height: 28%;
}

#animation-property-slider {
    width: 100%;
}

.general-property-row, .button-row {
    height: 33.33%;
}

.upload-image-block {
    height: 40%;
    border-bottom: 4px solid $border-color;
}

.image-property-block {
    height: 50%;
    border-bottom: 4px solid $border-color;
}

.image-button-row {
    height: 25%;
}

.image-title-row {
    height: 15%;
}

.image-preview-row {
    height: 60%;
}

.default-upload-message {
    border: dashed 4px red;
}

.mat-slider-vertical {
    height: 100%;
}

.image-property-input {
    padding: 0px;
    min-width: 47px;
}

#upload_button {
    display: block;
}

#upload_button input[type=file] {
    display:none;
}

.active-item {
    background-color: $active-background-color;
}

.image-title {
    word-wrap: break-word;
}

.slider-label-row {
    height: 10%;
}

.slider-input-row {
    height: 15%;
}

.slider-row {
    height: 60%;
}

.zindex-buttons-row {
    height: 15%;
}

.property-input {
    width: 100%;
    min-width: 40px;
}

.mat-slider-vertical {
    height: 100%;
    display: block;
    min-height: unset;
}

.input-group-text, .form-control, .custom-select {
    font-size: $small !important;
}

.form-control-feedback {
    color: red;
    font-size: $small;
}