<div class="row h-100 w-100 m-0">
  <div class="col px-0">
    <form novalidate [formGroup]="titleForm" class="h-100">
      <div class="row upload-image-block m-0">
        <div class="col px-2">
          <div class="row image-button-row align-items-center justify-content-between m-0">
            <div class="col-5 p-0">
              <div id="upload_button" class="w-100">
                <label class="w-100 m-0">
                  <input type="file" accept="image/*" (change)="readImage($event)" onclick="this.value = null">
                  <span class="btn btn-primary w-100 p-1 medium-font-size">Upload</span>
                </label>
              </div>
            </div>
            <div class="col-5 p-0">
              <button *ngIf="fabricjsService.componentRole === 'add' && !fabricjsService.canvas.getActiveObject()" type="button" (click)="addImageToCanvas()"
                class="btn btn-info w-100 p-1 medium-font-size">Add</button>
              <button *ngIf="(fabricjsService.componentRole === 'edit') || (fabricjsService.componentRole === 'add' && fabricjsService.canvas.getActiveObject())"
                type="button" (click)="changeImage()" [disabled]="!changedImageBody || !fabricjsService.canvas.getActiveObject()"
                class="btn btn-info w-100 p-1 medium-font-size">Change</button>
            </div>
          </div>
          <div class="row form-group image-title-row align-items-center m-0">
            <div class="col">
              <div class="row h-75">
                <label for="inputTitle" class="col-3 col-form-label medium-font-size p-1">Title</label>
                <div class="col-9 p-0">
                  <input type="text" (keyup)="changeImageTitle()" formControlName="titleText" class="form-control medium-font-size p-1" id="inputTitle"
                    [(ngModel)]="imageService.activeImage.title" placeholder="Title">
                </div>
              </div>
              <div [ngStyle]="{'visibility': (fabricjsService.componentRole === 'edit' && titleForm.invalid) || (imageService.addImageTry && titleForm.invalid) ? 'visible' : 'hidden' }"
                class="row h-25 justify-content-end">
                <div class="col-9">
                  <div class="form-control-feedback w-100 text-center">
                    Enter the title
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row image-preview-row m-0">
            <div class="col px-0 py-2">
              <div *ngIf="!imageService.activeImage.body" class="default-upload-message align-items-center row m-0 h-100">
                <div class="col text-center">
                  You don't have uploaded image
                </div>
              </div>
              <img *ngIf="imageService.activeImage.body" class="h-100 w-100" [src]="imageService.activeImage.body">
            </div>
          </div>
        </div>
      </div>
      <div class="row image-property-block m-0 pt-2">
        <div class="col px-2">
          <div class="row zindex-buttons-row py-1">
            <div class="col-6 pr-2 my-auto">
              <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.sendBackward()" class="btn btn-info p-1 w-100 small-font-size">Send backward</button>
            </div>
            <div class="col-6 pl-2 my-auto">
              <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.bringForward()" class="btn btn-info p-1 w-100 small-font-size">Bring forward</button>
            </div>
          </div>
          <div class="row mx-auto justify-content-around slider-label-row small-font-size">
            <div class="col-3 px-1 my-auto">
              <p class="text-center mb-0">Rotation</p>
            </div>
            <div class="col-3 px-1 my-auto">
              <p class="text-center mb-0">Width</p>
            </div>
            <div class="col-3 px-1 my-auto">
              <p class="text-center mb-0">Height</p>
            </div>
            <div class="col-3 px-1 my-auto">
              <p class="text-center mb-0">Opacity</p>
            </div>
          </div>
          <div class="row mx-auto justify-content-around slider-row">
            <div class="col-3 px-1">
              <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="360" #rot (input)="imageService.changeRotation(rot.value, fabricjsService.canvas)"
                [ngModel]="imageService.activeImage.angle" [ngModelOptions]="{standalone: true}"></mat-slider>
            </div>
            <div class="col-3 px-1">
              <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #w (input)="imageService.changeWidth(w.value, fabricjsService.canvas)"
                [ngModel]="imageService.activeImage.scaleX" [ngModelOptions]="{standalone: true}"></mat-slider>
            </div>
            <div class="col-3 px-1">
              <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #h (input)="imageService.changeHeight(h.value, fabricjsService.canvas)"
                [ngModel]="imageService.activeImage.scaleY" [ngModelOptions]="{standalone: true}"></mat-slider>
            </div>
            <div class="col-3 px-1">
              <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="1" step="0.01" #o (input)="imageService.changeOpacity(o.value, fabricjsService.canvas)"
                [ngModel]="imageService.activeImage.opacity" [ngModelOptions]="{standalone: true}"></mat-slider>
            </div>
          </div>
          <div class="row mx-auto justify-content-around slider-input-row">
            <div class="col-3 px-2 my-auto">
              <div class="input-group">
                <input type="number" (input)="imageService.changeRotation(-1, fabricjsService.canvas)" min="0" max="360" class="form-control property-input p-0"
                  [(ngModel)]="imageService.activeImage.angle" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="col-3 px-2 my-auto">
              <div class="input-group">
                <input type="number" (input)="imageService.changeWidth(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
                  [(ngModel)]="imageService.activeImage.scaleX" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="col-3 px-2 my-auto">
              <div class="input-group">
                <input type="number" (input)="imageService.changeHeight(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
                  [(ngModel)]="imageService.activeImage.scaleY" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="col-3 px-2 my-auto">
              <div class="input-group">
                <input type="number" (input)="imageService.changeOpacity(-1, fabricjsService.canvas)" min="0" max="1" step="0.01" class="form-control property-input p-0"
                  [(ngModel)]="imageService.activeImage.opacity" [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center confirm-row-edit m-0">
        <div class="col-4 p-0">
          <button type="button" (click)="saveImage()" [disabled]="!titleForm.valid && fabricjsService.componentRole === 'edit'" class="btn btn-primary w-100 medium-font-size px-1">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>