$border-color: #72b1bb;
$active-background-color: rgb(145, 217, 226);

.elements-list {
    height: 80%;
    border-bottom: 4px solid $border-color;
    overflow-y: auto;
    overflow-x: hidden;
}

.element-item-row {
    height: 100%;
}

.element-item:hover {
    cursor: pointer;
}

.element-item-row {
    height: 100%;
}

.element-title {
    word-wrap: break-word;
}

.active-item {
    background-color: $active-background-color;
}

.no-elements-message {
    height: 12vh;
    background-color: $active-background-color;    
}