<div class="row m-0 elements-list">
  <div class="col px-0">
    <ul class="list-group">
      <li *ngIf="!slideElements.length" class="list-group-item list-group-item-info no-elements-message py-0">
        <div class="row h-100">
          <div class="col text-center align-self-center">There aren't elements on slide
            <br><br><small>You can add one by pressing on "Add element" button</small></div>
        </div>
      </li>
      <li (click)="setSlideElementActive(element.id, element.type)" *ngFor="let element of slideElements; let i = index" class="list-group-item list-group-item-info element-item py-0"
        [ngClass]="{'active-item': element.isActive}">
        <div class="row justify-content-end h-25">
          <div class="col-auto">
            <button type="button" class="btn btn-link p-0" (click)="deleteElement(element.id, element.type)">&times;</button>
          </div>
        </div>
        <div class="row element-item-row align-items-center justify-content-around">
          <div class="col-7">
            <div class="row">
              <div class="col medium-font-size element-title">
                {{element.title}}
              </div>
            </div>
          </div>
          <div class="col-5 py-2">
            <button type="button" class="btn btn-warning medium-font-size float-right" (click)="editElement(element)">Edit</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>