$small: 0.8rem;

.input-text-block {
    height: 15%;
}

#text-input {
    resize: none;
}

.form-control-feedback {
    color: red;
    font-size: $small;
}

#font-family-select, #font-size-select, #line-height-select {
    height: unset !important;
}

.text-property-btn {
    min-width: 15px;
}

button {
    box-shadow: unset !important;
}

#colorpicker {
    cursor: crosshair;
    padding:  0;
    min-width: 25px;
}

.mat-slider-vertical {
    height: 100%;
    display: block;
    min-height: unset;
}

.property-input {
    width: 100%;
    min-width: 40px;
}

.wrapper {
    height: 95%;
}

.input-group-text, .form-control, .custom-select {
    font-size: $small !important;
}

.select-properties-block {
    height: 16%;
}

.select-property-row {
    height: calc(100% / 3);
}

.color-properties-block {
    height: 12%;
}

.button-properties-block {
    height: 10%;
}

.zindex-buttons-block {
    height: 4%;
}

.sliders-block {
    height: 27%;
}

.slider-label-row, .slider-input-row {
    height: 10%;
}

.slider-row {
    height: 80%;
}

.submit-buttons-block {
    height: 9%;
}

.textarea-row {
    height: 90%;
}

.title-row {
    height: 80%;
}

.text-feedback-row {
    height: 10%;
}

.title-feedback-row {
    height: 20%;
}

.title-block {
    height: 7%;
}