<form novalidate [formGroup]="addTextForm" (ngSubmit)="addText()" class="h-100 px-2">
  <div class="input-text-block pb-1 pt-2">
    <div class="row textarea-row">
      <div class="col">
        <textarea id="text-input" (keyup)="textService.setTextBody(fabricjsService.canvas, fabricjsService.componentRole)" class="form-control px-2 py-1 h-100"
          [(ngModel)]="textService.activeText.body" formControlName="newText" placeholder="Input your text here"></textarea>
      </div>
    </div>
    <div [ngStyle]="{'visibility': (newText.invalid && textService.addTextTry && fabricjsService.componentRole === 'add') || (fabricjsService.componentRole === 'edit' && newText.invalid) ? 'visible' : 'hidden' }"
      class="row text-feedback-row">
      <div class="col">
        <div class="form-control-feedback w-100 text-center">
          Enter the text
        </div>
      </div>
    </div>
  </div>
  <div class="title-block py-1">
    <div class="row title-row">
      <div class="col">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text p-1">Title</span>
          </div>
          <input type="text" [(ngModel)]="textService.activeText.title" formControlName="newTitle" placeholder="Title" class="form-control py-0"
            (keyup)="changeTextTitle()" />
        </div>
      </div>
    </div>
    <div [ngStyle]="{'visibility': (newTitle.invalid && textService.addTextTry && fabricjsService.componentRole === 'add') || (fabricjsService.componentRole === 'edit' && newTitle.invalid) ? 'visible' : 'hidden' }"
      class="row title-feedback-row">
      <div class="col">
        <div class="form-control-feedback w-100 text-center">
          Enter the title
        </div>
      </div>
    </div>
  </div>
  <div class="select-properties-block py-1">
    <div class="row select-property-row align-items-center">
      <div class="col-12 my-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text p-1" for="font-family-select">Font family</label>
          </div>
          <select (change)="textService.setFontFamily('forOld', fabricjsService.canvas)" [(ngModel)]="textService.activeText.fontFamily"
            id="font-family-select" class="custom-select p-1" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let font of fontFamilies" [ngValue]="font">{{font}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row select-property-row align-items-center">
      <div class="col-12 my-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text p-1" for="font-size-select">Font size</label>
          </div>
          <select (change)="textService.setFontSize(fabricjsService.canvas)" [(ngModel)]="textService.activeText.fontSize" id="font-size-select"
            class="custom-select p-1" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let size of fontSizes" [ngValue]="size">{{size}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row select-property-row align-items-center">
      <div class="col-12 my-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text p-1" for="line-height-select">Line height</label>
          </div>
          <select (change)="textService.setLineHeight(fabricjsService.canvas)" [(ngModel)]="textService.activeText.lineHeight" id="line-height-select"
            class="custom-select p-1" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let lineHeight of lineHeights" [ngValue]="lineHeight">{{lineHeight}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="button-properties-block py-1">
    <div class="row h-50">
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.setAlign('left', fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.textAlign === 'left', 'btn-outline-info': textService.activeText.textAlign !== 'left'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-align-left"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.setAlign('center', fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.textAlign === 'center', 'btn-outline-info': textService.activeText.textAlign !== 'center'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-align-center"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.setAlign('right', fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.textAlign === 'right', 'btn-outline-info': textService.activeText.textAlign !== 'right'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-align-right"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.setAlign('justify', fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.textAlign === 'justify', 'btn-outline-info': textService.activeText.textAlign !== 'justify'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-align-justify"></i>
        </button>
      </div>
    </div>
    <div class="row h-50">
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.toggleBold(fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.fontWeight === 'bold', 'btn-outline-info': textService.activeText.fontWeight === 'normal'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-bold"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.toggleItalic(fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.fontStyle === 'italic', 'btn-outline-info': textService.activeText.fontStyle === 'normal'}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-italic"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.toggleUnderline(fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.underline, 'btn-outline-info': !textService.activeText.underline}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-underline"></i>
        </button>
      </div>
      <div class="col-3 my-auto">
        <button type="button" (click)="textService.toggleStrike(fabricjsService.canvas)" [ngClass]="{'btn-info': textService.activeText.linethrough, 'btn-outline-info': !textService.activeText.linethrough}"
          class="btn btn-sm w-100 p-0 text-property-btn">
          <i class="fas fa-strikethrough"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="color-properties-block py-1">
    <div class="row h-50">
      <div class="col my-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text p-1">Font color</span>
          </div>
          <input class="form-control" id="colorpicker" (cpSliderDragEnd)="textService.changeFill(fabricjsService.canvas)" (colorPickerChange)="textService.changeFill(fabricjsService.canvas)"
            [(colorPicker)]="textService.activeText.fill" [style.background]="textService.activeText.fill" />
        </div>
      </div>
    </div>
    <div class="row h-50">
      <div class="col my-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text p-1">Background color</span>
          </div>
          <input class="form-control" id="colorpicker" (cpSliderDragEnd)="textService.changeBackgroundColor(fabricjsService.canvas)"
            (colorPickerChange)="textService.changeBackgroundColor(fabricjsService.canvas)" [(colorPicker)]="textService.activeText.backgroundColor"
            [style.background]="textService.activeText.backgroundColor" [cpAlphaChannel]="'always'" [cpOutputFormat]="'rgba'"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="zindex-buttons-block py-1">
    <div class="row h-100">
      <div class="col-6 pr-2 my-auto">
        <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.sendBackward()" class="btn btn-info p-1 w-100 small-font-size">Send backward</button>
      </div>
      <div class="col-6 pl-2 my-auto">
        <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject()" (click)="fabricjsService.bringForward()" class="btn btn-info p-1 w-100 small-font-size">Bring forward</button>
      </div>
    </div>
  </div>
  <div class="sliders-block pt-3 pb-1">
    <div class="row mx-auto justify-content-around slider-label-row small-font-size">
      <div class="col-3 px-1">
        <p class="text-center">Rotation</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Width</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Height</p>
      </div>
      <div class="col-3 px-1">
        <p class="text-center">Opacity</p>
      </div>
    </div>
    <div class="row mx-auto justify-content-around slider-row">
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="360" #rot (input)="textService.changeRotation(rot.value, fabricjsService.canvas)"
          [(ngModel)]="textService.activeText.angle" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #w (input)="textService.changeWidth(w.value, fabricjsService.canvas)"
          [ngModel]="textService.activeText.scaleX" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0.2" max="9" step="0.01" #h (input)="textService.changeHeight(h.value, fabricjsService.canvas)"
          [ngModel]="textService.activeText.scaleY" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
      <div class="col-3 px-1">
        <mat-slider vertical class="mx-auto" [thumb-label]="true" min="0" max="1" step="0.01" #o (input)="textService.changeOpacity(o.value, fabricjsService.canvas)"
          [ngModel]="textService.activeText.opacity" [ngModelOptions]="{standalone: true}"></mat-slider>
      </div>
    </div>
    <div class="row mx-auto justify-content-around slider-input-row">
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="textService.changeRotation(-1, fabricjsService.canvas)" min="0" max="360" class="form-control property-input p-0"
            [(ngModel)]="textService.activeText.angle" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="textService.changeWidth(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="textService.activeText.scaleX" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="textService.changeHeight(-1, fabricjsService.canvas)" min="0.2" max="9" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="textService.activeText.scaleY" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="col-3 px-2">
        <div class="input-group">
          <input type="number" (input)="textService.changeOpacity(-1, fabricjsService.canvas)" min="0" max="1" step="0.01" class="form-control property-input p-0"
            [(ngModel)]="textService.activeText.opacity" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="fabricjsService.componentRole === 'edit'" class="submit-buttons-block">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-6">
        <button type="button" (click)="save()" [disabled]="addTextForm.invalid" class="btn btn-primary w-100 p-1">Save</button>
      </div>
    </div>
  </div>
  <div *ngIf="fabricjsService.componentRole === 'add'" class="submit-buttons-block">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-5">
        <button type="button" (click)="addText()" class="btn btn-success w-100 p-1">Add</button>
      </div>
      <div class="col-5">
        <button type="button" (click)="save()" [disabled]="addTextForm.invalid && fabricjsService.canvas.getActiveObject()" class="btn btn-primary w-100 p-1">Save</button>
      </div>
    </div>
  </div>
</form>