<div class="container">
  <div class="row justify-content-center">
    <div class="content col-9">
      <ul class="list-group">
        <li *ngFor="let presentation of presentations" class="list-group-item list-group-item-info">
          <div class="row justify-content-end">
            <button type="button" (click)="openModal(template, presentation.id)" class="btn btn-danger delete-button">&#10006;</button>
          </div>
          <br>
          <br>
          <div class="row justify-content-between">
            <div class="col-8">
              <h4 class="presentation-title">{{presentation.title}}</h4>
            </div>
            <div class="col-4">
              <button type="button" (click)="navigateToView(presentation.id)" class="btn btn-info">View</button>
              <button type="button" (click)="navigateToEdit(presentation.id)" class="btn btn-warning">Edit</button>
            </div>
          </div>
        </li>
        <li class="list-group-item list-group-item-info">
          <div class="row justify-content-center">
            <div class="col-8">
              <button type="button" (click)="navigateToAdd()" class="btn btn-primary add-button">Add new presentation</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      Are you sure want to delete presentation?
    </div>
    <br>
    <br>
    <div class="row justify-content-around">
      <div class="col-4">
        <button type="button" class="btn btn-danger dialog-button" (click)="confirm()">Yes</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-warning dialog-button" aria-label="Close" (click)="decline()">No</button>
      </div>
    </div>
  </div>
</ng-template>