.content {
  margin-top: 100px;
  margin-bottom: 50px;
}

.delete-button {
  padding: 0px 6px;
}

.presentation-title {
  margin: 5px 5px 0px;
}

.add-button {
  width: 100%;
  margin: 30px 0px;
}

.dialog-button {
  width: 100%;
}