<div *ngIf="animationList" class="h-100 p-0">
  <div class="row active-figure-title">
    <div class="col h-100">
      <ul class="m-0 p-0 h-100">
        <li class="list-group-item list-group-item-info active-figure-list-item h-100">
          <div class="row align-items-center justify-content-center h-100">
            <div *ngIf="!animationService.playingAnimation">
              <div *ngIf="fabricjsService.canvas.getActiveObject()" class="col text-center">{{fabricjsService.canvas.getActiveObject().title}}</div>
              <div *ngIf="!fabricjsService.canvas.getActiveObject()" class="col text-center">Select object</div>
            </div>
            <div *ngIf="animationService.playingAnimation" class="col text-center">Playing animation</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row slide-row">
    <div class="col slide-column">
      <div *ngIf="!animationService.playingAnimation">
        <div *ngIf="fabricjsService.canvas.getActiveObject()">
          <div *ngIf="animationService.activeObjectAnimations.length">
            <ul class="px-0 list-group">
              <li *ngFor="let animation of animationService.activeObjectAnimations; let i = index" class="list-group-item list-group-item-info slide-item h-25 py-0">
                <ng-template #animationInfo>
                  Property: {{animation.property}}
                  <br>
                  <div *ngIf="animation.property === 'position'">Value: (x: {{animation.value.x}}, y: {{animation.value.y}})
                    <br>
                  </div>
                  <div *ngIf="animation.property !== 'position'">Value: {{animation.value.common}}
                    <br>
                  </div>
                  Duration: {{animation.duration}}
                  <br> Easing: {{animation.displayEasing}}
                  <br> Start after: {{animation.displayStartAfter}}
                </ng-template>
                <div class="row justify-content-end h-25">
                  <div class="col-auto">
                    <button type="button" (click)="deleteAnimation(animation.id)" class="btn btn-link p-0">&times;</button>
                  </div>
                </div>
                <div class="row new-animation-row align-items-center justify-content-around">
                  <div class="col-3 text-center">
                    <div class="row">
                      <div class="col-auto medium-font-size">
                        {{animation.title}}
                      </div>
                    </div>
                    <div class="row justify-content-start">
                      <div class="col-auto">
                        <div [tooltip]="animationInfo" container="body" placement="right">
                          <button type="button" class="btn btn-outline-primary btn-sm large-font-size mt-2 mb-1">
                            <i class="fas fa-info-circle"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto pt-4">
                    <div class="row justify-content-between">
                      <div class="col">
                        <div class="btn-group btn-group-sm" role="group">
                          <button type="button" (click)="animationService.playSingleAnimation(fabricjsService, false, animation.id)" class="btn btn-primary">Preview</button>
                          <button type="button" (click)="editAnimation(animation.id, animation.hostType)" class="btn btn-warning">Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="!animationService.activeObjectAnimations.length">
            <ul class="px-0 list-group">
              <li class="list-group-item list-group-item-info slide-item h-25 py-0">
                <p class="text-center my-4">No animations</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row confirm-row mx-auto pt-1">
    <div class="col">
      <div class="row btn-row py-1">
        <div class="col">
          <button type="button" [disabled]="!fabricjsService.canvas.getActiveObject() || animationService.playingAnimation" (click)="addAnimation()"
            class="btn btn-success btn-block h-100 p-0 small-font-size">New animation</button>
        </div>
      </div>
      <div class="row btn-row py-1">
        <div class="col">
          <button *ngIf="!animationService.playingAnimation" type="button" (click)="animationService.launchAnimations(fabricjsService)"
            [disabled]="!fabricjsService.editedSlide.animations.length" class="btn btn-info btn-block h-100 p-0 small-font-size">Preview</button>
          <button *ngIf="animationService.playingAnimation" type="button" (click)="animationService.stopAnimation = true" class="btn btn-danger btn-block h-100 p-0 small-font-size">Cancel preview</button>
        </div>
      </div>
      <div class="row btn-row py-1">
        <div class="col">
          <button type="button" [disabled]="animationService.playingAnimation" class="btn btn-primary btn-block h-100 p-0 small-font-size"
            (click)="saveAnimations()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="animationProperties" class="h-100">
  <form novalidate [formGroup]="animationForm" (ngSubmit)="submitAnimationForm()" class="h-100">
    <div class="set-title-block px-2">
      <div class="row h-100 align-items-center">
        <div class="col">
          <div class="row form-group m-0">
            <div class="col">
              <div class="row h-75">
                <label for="inputTitle" class="col-3 col-form-label medium-font-size p-1">Title</label>
                <div class="col-9 p-0">
                  <input type="text" formControlName="title" class="form-control medium-font-size p-1" id="inputTitle" [(ngModel)]="animationService.activeAnimation.title"
                    placeholder="Title">
                </div>
              </div>
              <div [ngStyle]="{'visibility': ((title.invalid && submitAnimationTry) || (title.invalid && title.dirty)) ? 'visible' : 'hidden' }"
                class="row h-25 justify-content-end">
                <div class="col-9">
                  <div class="form-control-feedback w-100 text-center">
                    Input title
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-property-block px-2">
      <div class="row h-100 align-items-center">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text p-1" for="property-select">Property</label>
            </div>
            <select (change)="switchProperty(false)" formControlName="property" [(ngModel)]="animationService.activeAnimation.property"
              id="property-select" class="custom-select form-control p-1">
              <option *ngFor="let property of animationPropertiesArray" [ngValue]="property">{{property}}</option>
            </select>
          </div>
          <div class="form-control-feedback medium-font-size w-75 text-center" *ngIf="((property.invalid && submitAnimationTry) || (property.invalid && property.dirty))">
            Select animation type
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="animationService.activeAnimation.property === 'position'" class="set-value-block px-2">
      <div class="row align-items-center" [style.height.%]="30">
        <div class="col">
          <div class="large-font-size text-center">Click on the slide</div>
        </div>
      </div>
      <div class="row align-items-center" [style.height.%]="70">
        <div class="col">
          <div class="form-group row mb-0 h-75">
            <label for="xValue" class="col-sm-2 col-form-label">X:</label>
            <div class="col">
              <input type="number" min="0" (change)="fabricjsService.changePointerPosition()" [max]="fabricjsService.canvas.width" [(ngModel)]="fabricjsService.pointer.x"
                class="form-control px-0 py-1" formControlName="positionX" id="xValue">
            </div>
          </div>
          <div [ngStyle]="{'visibility': ((positionX.invalid && submitAnimationTry) || (positionX.invalid && positionX.dirty)) ? 'visible' : 'hidden' }"
            class="row h-25">
            <div class="col">
              <div class="form-control-feedback w-100 text-center">
                Set X position
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group row mb-0 h-75">
            <label for="xValue" class="col-sm-2 col-form-label">Y:</label>
            <div class="col">
              <input type="number" min="0" (change)="fabricjsService.changePointerPosition()" [max]="fabricjsService.canvas.height" [(ngModel)]="fabricjsService.pointer.y"
                class="form-control px-0 py-1" formControlName="positionY" id="yValue">
            </div>
          </div>
          <div [ngStyle]="{'visibility': ((positionY.invalid && submitAnimationTry) || (positionY.invalid && positionY.dirty)) ? 'visible' : 'hidden' }"
            class="row h-25">
            <div class="col">
              <div class="form-control-feedback w-100 text-center">
                Set Y position
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="animationService.activeAnimation.property !== 'position'" class="set-value-block px-2">
      <div class="row form-group m-0 h-50">
        <div class="col">
          <div class="row h-75 align-items-end">
            <label for="propValue" class="col-3 col-form-label medium-font-size p-1">Value:</label>
            <div class="col-9 p-0">
              <input type="number" (input)="checkValueCorrect()" formControlName="value" class="form-control medium-font-size p-1" id="propValue"
                [(ngModel)]="animationService.activeAnimation.value.common" [min]="propertyMinValue" [max]="propertyMaxValue"
                [step]="propertyStep" placeholder="Value">
            </div>
          </div>
          <div *ngIf="(((value.invalid && submitAnimationTry) || (value.invalid && value.dirty)) && !showIncorrectValueMessage)" class="row h-25 justify-content-end">
            <div class="col-9 h-100">
              <div class="form-control-feedback w-100 text-center">
                Input animation value
              </div>
            </div>
          </div>
          <div *ngIf="showIncorrectValueMessage" class="row h-25 justify-content-end">
            <div class="col-9 my-auto h-100 p-0">
              <div class="form-control-feedback incorrect-value-message w-100 text-center">
                {{warningValueMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-50 align-items-center">
        <div class="col">
          <mat-slider #prop [(ngModel)]="animationService.activeAnimation.value.common" id="animation-property-slider" [thumb-label]="true"
            [min]="propertyMinValue" [max]="propertyMaxValue" [step]="propertyStep" (input)="changePropertyValue(prop.value)"
            (change)="changePropertyValue(prop.value)" [ngModelOptions]="{standalone: true}"></mat-slider>
        </div>
      </div>
    </div>
    <div class="general-properties px-2 pt-1">
      <div class="row h-100">
        <div class="col">
          <div class="form-group row mb-0" id="duration-value">
            <div class="col">
              <div class="row align-items-center m-0">
                <label for="duration-value" class="col-4 col-form-label medium-font-size p-1">Duration:</label>
                <div class="col-8 p-0">
                  <input type="number" (input)="checkDurationCorrect()" [(ngModel)]="animationService.activeAnimation.duration" min="100" max="10000"
                    step="100" class="form-control p-1" id="duration-value" formControlName="duration" placeholder="Duration">
                </div>
              </div>
              <div *ngIf="(((duration.invalid && submitAnimationTry) || (duration.invalid && duration.dirty)) && !showIncorrectDurationMessage)"
                class="row h-25 justify-content-end">
                <div class="col-9 h-100">
                  <div class="form-control-feedback w-100 text-center">
                    Input duration
                  </div>
                </div>
              </div>
              <div *ngIf="showIncorrectDurationMessage" class="row h-25 justify-content-end">
                <div class="col-9 my-auto h-100 p-0">
                  <div class="form-control-feedback incorrect-duration-message w-100 text-center">
                    {{warningDurationMessage}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mb-0" id="easing-value-block">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text p-1" for="easing-value">Easing</label>
                </div>
                <select [(ngModel)]="animationService.activeAnimation.easing" (change)="changeEasingDisplay()" id="easing-value" class="custom-select form-control p-1"
                  formControlName="easing">
                  <option *ngFor="let easing of easingsArray" [ngValue]="easing.value">{{easing.title}}</option>
                </select>
              </div>
              <div class="w-75 form-control-feedback medium-font-size text-center" *ngIf="((easing.invalid && submitAnimationTry) || (easing.invalid && easing.dirty))">
                Select easing
              </div>
            </div>
          </div>
          <div class="row align-items-center" id="start-after-value">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="medium-font-size input-group-text p-1" for="start-time">Start after</label>
                </div>
                <select (change)="changePredecessor()" [(ngModel)]="animationService.activeAnimation.startAfter" id="start-time" class="custom-select form-control medium-font-size p-1"
                  formControlName="startAfter">
                  <option [ngValue]="-1" selected>loading slide</option>
                  <ng-container *ngFor="let animation of potentialPredecessors">
                    <option [ngValue]="animation.id">{{animation.title}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="form-control-feedback text-center medium-font-size w-75" *ngIf="((startAfter.invalid && submitAnimationTry) || (startAfter.invalid && startAfter.dirty))">
                Select start time
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-block px-2">
      <div class="row h-100">
        <div class="col">
          <div class="row button-row py-1">
            <div class="col">
              <button type="button" (click)="cancel()" [disabled]="animationService.playingAnimation" class="btn btn-outline-info btn-block h-100 p-0">
                &lt; Cancel</button>
            </div>
          </div>
          <div class="row button-row py-1">
            <div class="col">
              <button *ngIf="!animationService.playingAnimation" type="submit" (click)="getSubmitMode('preview')" class="btn btn-primary btn-block h-100 p-0">Preview</button>
              <button *ngIf="animationService.playingAnimation" type="button" (click)="animationService.stopAnimation = true" class="btn btn-danger btn-block h-100 p-0">Cancel preview</button>
            </div>
          </div>
          <div class="row button-row py-1">
            <div class="col">
              <button type="submit" (click)="getSubmitMode('save')" [disabled]="disableAnimationSubmit || animationService.playingAnimation"
                class="btn btn-success btn-block h-100 p-0">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>