$border-color: #72b1bb;
$background-color: rgb(200, 237, 241);
$small: 0.8rem;
$x-small: 0.7rem;

.left-column {
    height: 95%;
    padding-right: 0px;
    background-color: $background-color;
}

.slide-row {
    height: 74%;
    width: 100%;
    margin: 0px !important;
}

.slide-column {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0px;
    border-bottom: 4px solid $border-color !important;
}

.active-figure-list-item {
    background-color: #79d9e7;
}

.new-animation-row {
    height: 100%;
}

.slide-item:hover {
    cursor: pointer;
}

.confirm-row {
    height: 15%;
}

.active-figure-title {
    height: 11%;
}

.list-group-item {
    border-radius: 0% !important;
}

#property-select, #easing-value, #start-time {
    height: unset !important;
}

.choose-property-block {
    height: 14%;
    border-bottom: 4px solid $border-color; 
}

.set-title-block {
    height: 14%;
    border-bottom: 4px solid $border-color; 
}

.set-value-block, .general-properties {
    height: 24%;
    border-bottom: 4px solid $border-color;
}

.buttons-block {
    height: 24%;
}

#animation-property-slider {
    width: 100%;
}

#duration-value {
    height: 40%;
}

#easing-value-block, #start-after-value {
    height: 30%;
}

.form-control-feedback {
    color: red;
    font-size: $small;
}

.input-group-text, .form-control, .custom-select, .col-form-label {
    font-size: $small !important;
}

.button-row {
    height: calc(100% / 3);
}

.incorrect-value-message, .incorrect-duration-message {
    font-size: $x-small !important;
}

.btn-row {
    height: calc(100% / 3);
}