$border-color: #72b1bb;
$small: 0.8rem;

#background-type-select {
    height: unset;
}

.choose-type-block {
    border-bottom: 4px solid $border-color;
    height: 20%;
}

.image-block {
    height: 40%;
    border-bottom: 4px solid $border-color;
}

.color-block {
    border-bottom: 4px solid $border-color;
    height: 20%;
}

.image-button-row {
    height: 25%;
}

#upload_button {
    display: block;
}

#upload_button input[type=file] {
    display:none;
}

.image-preview-row {
    height: 75%;
}

.default-upload-message {
    border: dashed 4px red;
}

.content-block {
    height: 85%;
}

.buttons-block {
    border-top: 4px solid $border-color;
    height: 15%;
}

.custom-select {
    font-size: small !important;    
}