<div class="h-100">
  <div class="row content-block m-0">
    <div class="col">
      <div class="row choose-type-block">
        <div class="col my-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text small-font-size p-1" for="background-type-select">Background
                <br/> type</label>
            </div>
            <select [(ngModel)]="backgroundType" id="background-type-select" class="custom-select p-1" [ngModelOptions]="{standalone: true}">
              <option value="color">color</option>
              <option value="image">image</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="backgroundType === 'color'" class="row color-block">
        <div class="col my-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text small-font-size p-1">Slide
                <br/>background color</span>
            </div>
            <input class="form-control p-1" id="colorpicker" (cpSliderDragEnd)="fabricjsService.changeSlideBackgroundColor(slideBackgroundProperties.color, fabricjsService.canvas)"
              (colorPickerChange)="fabricjsService.changeSlideBackgroundColor(slideBackgroundProperties.color, fabricjsService.canvas)"
              [(colorPicker)]="slideBackgroundProperties.color" [style.background]="slideBackgroundProperties.color" [cpAlphaChannel]="'always'"
              [cpOutputFormat]="'rgba'" />
          </div>
        </div>
      </div>
      <div *ngIf="backgroundType === 'image'" class="row image-block pt-1">
        <div class="col">
          <div class="row image-button-row align-items-center justify-content-around">
            <div class="col">
              <div id="upload_button" class="w-100">
                <label class="w-100 m-0">
                  <input type="file" accept="image/*" (change)="readImage($event)">
                  <span class="btn btn-primary w-100 p-1">Upload</span>
                </label>
              </div>
            </div>
            <div class="col">
              <button type="button" (click)="setBackgroundImage()" [disabled]="!image" class="btn btn-info w-100 p-1">Set</button>
            </div>
          </div>
          <div class="row image-preview-row pt-1 pb-3">
            <div class="col">
              <div *ngIf="!image" class="default-upload-message align-items-center row m-0 h-100">
                <div class="col text-center">
                  You haven't uploaded image yet
                </div>
              </div>
              <img *ngIf="image" class="h-100 w-100" [src]="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons-block justify-content-center m-0">
    <div class="col">
      <div class="row h-50 justify-content-center">
        <div class="col-10 h-75 align-self-center">
          <button type="button" class="btn btn-danger small-font-size w-100 h-100 p-1" (click)="clearBackground()">Clear background</button>
        </div>
      </div>
      <div class="row h-50 justify-content-center">
        <div class="col-10 h-75 align-self-center">
          <button type="button" class="btn btn-success w-100 h-100 p-1" (click)="saveSlideProperties()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>