.reveal {
    width: 75%;
    float: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: #bee5eb;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #138496;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }

    a:hover {
        color: #f1f1f1;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.opened {
    width: 25%;
    z-index: 2;
}

.full-width {
    width: 100%;
}

.open-btn {
    position: absolute;
    top: 70px;
    left: 25px;    
    z-index: 1;
}

.navigate-btn {
    z-index: 1;
    position: absolute;
    top: 25px;
    left: 25px;        
}

.active-link {
    color: #f1f1f1 !important;
}

.visible-buttons {
    visibility: visible !important;
    z-index: 20 !important;
}

.hidden-buttons {
    visibility: hidden !important;
    z-index: 1 !important
}

.not-displayed {
    display: none;
}

.slides {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    transform: unset !important;
    section {
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
    }   
}

.buttons-wrapper {
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 100 !important;  
}