<div class="buttons-wrapper" [ngClass]="{'not-displayed': menuIsOpened}" (mouseenter)="visibleButtons=true" (mouseleave)="visibleButtons=false">
  <button class="btn btn-info navigate-btn" [ngClass]="{'visible-buttons': visibleButtons, 'hidden-buttons': !visibleButtons}"
    *ngIf="!menuIsOpened" type="button" (click)="navigateToMain()">
    &lt; To all presentations</button>
  <button class="btn btn-info open-btn" [ngClass]="{'visible-buttons': visibleButtons, 'hidden-buttons': !visibleButtons}"
    *ngIf="!menuIsOpened" type="button" (click)="toggleMenu()">Navigation Menu</button>
</div>
<div class="sidenav" [ngClass]="{'opened': menuIsOpened}">
  <a href="javascript:void(0)" class="close-btn" (click)="toggleMenu()">&times;</a>
  <div *ngFor="let slide of presentation.slides; let i = index">
    <a (click)="switchSlide(i)" [ngClass]="{'active-link': activeSlideLink[i]}">{{i + 1}}. {{slide.title}}</a>
  </div>
</div>
<div class="reveal" [ngClass]="{'full-width': !menuIsOpened}">
  <div #slides class="slides">
    <section *ngFor="let slide of presentation.slides; let i = index;">
      <canvas [id]="'canvas'+i"></canvas>
    </section>
  </div>
</div>