/* You can add global styles to this file, and also import other style files */

/*@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css);*/
@import url('https://fonts.googleapis.com/css?family=Arvo|Bowlby+One+SC|Coiny|Indie+Flower|Josefin+Sans|Lobster|Poppins');
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* for showing presentations */
@import url(../reveal/css/reveal.css);
@import url(../reveal/css/theme/white.css);

/* for mat-slider */
@import url(@angular/material/prebuilt-themes/indigo-pink.css);

$large: 1.1rem;
$medium: 0.9rem;
$small: 0.7rem;
$x-small: 0.6rem;

.large-font-size {
    font-size: $large !important;
}

.medium-font-size {
    font-size: $medium !important;
}

.small-font-size {
    font-size: $small !important;
}

.x-small-font-size {
    font-size: $x-small !important;
}

body {
    overflow-y: auto;
}

* {
    font-family: 'Poppins', sans-serif;
}

.mat-menu-content {
    padding-top: 38px;
    padding-bottom: 8px;
}

html {
    font-size: 0.6rem;
  }
  
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.7rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}
  
@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}